html{
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
.before{
    
    font-size: 1.5em;
    
}
table {
    width: 90%;
    
    border-collapse: separate;
    border-spacing: 0 15px;
    text-align: center;
  }
  th,td{
    padding:5px
  }
table tr{
    height: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
table tr#header{
    background-color: #225cff;
    color: white;
}
table tr.red{
    background-color: rgba(255, 0, 0, 0.600);

  }
  table tr.green{
    background-color: rgba(0, 128, 0, 0.600);

  }

  label.green{
      color: white;
      background-color: #22e322;
      padding: 5px;
      border-radius: 10%;
  }

  label.red{
    color: white;
    background-color: #f01717;
    padding: 5px;
    border-radius: 10%;
}

.fieldset{
    width:50%
}